/* ──── ୨୧ ──── */


@media screen and (min-width: 709px) and (max-width: 1010px) {
    .container {
        margin: auto;
        width: 470px;
    }
    .container #addbtn {
        margin-left: 158px;
        padding: 20px;
    }
    
    .title {
        margin-top: 20px;
    }
}

input[type="checkbox"] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    box-shadow: none;
}

input:focus {
    outline: none;
}

@media screen and (max-width:709px) {
    .container #addbtn {
        margin-left: 158px;
        padding: 20px;
    }

    .title {
        margin-top: 20px;
    }
}

/* ♡ root */
:root {
    --cinza-bg: #e1e1e1;
    --cinza-bordinha: #B1B1B1;
}

/* ♡ body */
body {
    background: #f2e8e1;
    justify-content: baseline;
    align-items: center;
}

/* ♡ título */
.title {
    text-align: center;
}

#todo {
    color: white;
    font-size: 5em;
    text-shadow: 10px 2px 5px #ae9c8f;
}



#list {
    vertical-align: bottom;
    font-size: 2.5em;
    font-family: "Itim";
    color: #7a695d;
}

/* ♡ container */
.container {
    margin-top: 60px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nova-tarefa {
    padding-left: 15px;
}

input[type="checkbox"] {
    margin-right: 12px;
    
}

.delete-icon {
    margin-left: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


#tarefas {
    min-width: 360px;
    overflow: auto;
    box-shadow: 10px 12px 7px #ae9c8f;
    position: static;
    margin: 20px;
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ae9c8f;
    border-radius: 8px;
}



.delete-icon:hover {
    transform: scale(1.2);
    cursor: pointer;

}


#addbtn {
    vertical-align: middle;
    margin: 0 170px 0 20px;
}

#addbtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

input {
    color: #7a695d;
    font-family: "Itim";
    box-shadow: 10px 12px 7px #ae9c8f;
    border: 1px solid #ae9c8f;
    border-radius: 8px;
    width: 270px;
    height: 40px;
}


.task-item {
    color: #7a695d;
    font-family: "Itim";
    font-size: 1.1em;
    word-wrap: break-word; word-break: break-all;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}